* {
    margin: 0px;
    padding: 0px;
}

@media (min-width: 1025px) and (max-width:1440px) {
    body {
        overflow-x: hidden;
    }

    #home {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://assets.nflxext.com/ffe/siteui/vlv3/21a8ba09-4a61-44f8-8e2e-70e949c00c6f/6678e2ea-85e8-4db2-b440-c36547313109/IN-en-20240722-POP_SIGNUP_TWO_WEEKS-perspective_WEB_3457a8b1-284d-4bb5-979e-2a2e9bb342b3_small.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        min-width: 100vw;
    }

    .div1 {
        display: grid;
    }

    #img {
        width: 190px;
        margin-top: 30px;
        margin-left: 50px;
    }

    #lane {
        margin-left: 700px;
        margin-top: 35px;
    }

    #lane select {
        width: 100px;
        height: 30px;
        text-align: center;
        background-color: black;
        color: white;
    }

    #lane option {
        background-color: white;
        color: black;
    }

    #sign-in {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        width: 100px;
        margin-top: 35px;
        margin-left: -80px;
        height: 28px;
        font-weight: bold;
        background-color: rgba(255, 0, 0, 0.87);
    }

    .div2 {
        color: #ffffff;
        text-align: center;
        margin-top: 200px;
    }

    .div2 h1 {
        font-weight: bolder;
        font-size: 50px;
    }

    .div3 {
        display: flex;
        justify-content: center;
        /* Center items horizontally */
        align-items: center;
        /* Center items vertically */
        margin-top: 20px;
    }

    #op {
        width: 600px;
        height: 45px;
        background-color: rgb(12, 9, 9, 0.9);
        color: white;
    }

    #op::placeholder {
        color: lightgrey;
    }

    .div2 p {
        font-size: 25px;
    }

    .div2 .ui {
        font-size: 25px;
    }

    #rell {
        height: 30px;
        margin-top: 35px;
        margin-left: 600px;
        background-color: white;
    }

    #by {
        background-color: rgba(255, 0, 0, 0.87);
    }

    /* TV */
    #TV {
        background-color: black;
        background-size: cover;
        min-width: 110%;
        height: 80vh;
    }

    #TV h1 {
        color: white;
        margin-top: 150px;
        margin-left: 130px;
        font-weight: 1000;
        font-size: 50px;
    }

    #TV p {
        color: #ffffff;
        margin-left: 130px;
        font-size: 23px;
    }

    .video-container {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .image-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: auto;
        z-index: 1;
        /* Ensure the image is behind the video */
        margin-top: -90px;
        margin-left: -70px;
    }

    #TV video {
        position: relative;
        z-index: 1;
        /* Ensure the video is in front of the image */
        width: 53%;
        height: auto;
        margin-top: -11px;
        margin-left: -18px;
    }

    /*down*/
    #down {
        background-color: black;
        min-width: 110%;
        height: 80vh;
    }

    .box {
        border: 4px solid grey;
        min-width: 110%;
    }

    #cv {
        width: 500px;
        margin-left: 140px;
        margin-top: 90px;
        display: block;
        z-index: -1;
    }

    .Box {
        border: 2px solid grey;
        width: 270px;
        margin-left: 390px;
        margin-top: -120px;
        height: 110px;
        border-radius: 10px;
        font-size: 1rem;
        box-shadow: 0 0 2em 0 rgb(0, 0, 0);
        z-index: 1;
        transform: translateX(-50%);
        background-color: black;
    }

    #go {
        width: 70px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .thing {
        margin-left: 80px;
        margin-top: -100px;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
        padding-top: 40px;
    }

    .do {
        font-size: 13px;
        font-weight: 400;
        color: #0071eb;
        margin-left: 80px;
    }

    #joy {
        margin-top: 160px;
        margin-right: 270px;
        margin-left: -60px;
    }

    #down h1 {
        color: #ffffff;
        font-weight: 800;
        font-size: 45px;
    }

    #down p {
        font-size: 25px;
        color: white;
    }

    #joy img {
        width: 45px;
        margin-left: -170px;
        margin-top: 10px;
    }

    .Box .gif-icon {
        width: 50px;
        margin: -63px 0 0 195px;
    }

    #watch {
        background-color: black;
        height: 80vh;
        min-width: 110%;
    }

    #vy {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 100px;

    }

    .lap {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        /* Make the image cover the full width */
        height: auto;
        /* Maintain aspect ratio */
        z-index: 2;
        margin-left: -200px;
        margin-top: -50px;
    }

    #watch video {
        position: relative;
        /* Change to absolute to align with the image */
        top: 0;
        left: 0;
        width: 58%;
        /* Ensure the video covers the same area as the image */
        height: auto;
        z-index: 1;
        /* Ensure the video is in front of the image */
        object-fit: contain;
        margin-top: -20px;
        margin-left: -130px;
    }

    #eve {
        color: white;
        margin-top: 150px;
        margin-left: 150px;
        margin-right: 250px;
    }

    #eve h1 {
        font-size: 50px;
        font-weight: 900;
    }

    #eve p {
        font-size: 25px;
    }

    #children {
        background-color: black;
        height: 80vh;
        min-width: 110%;
    }

    #children img {
        width: 500px;
        margin-top: 50px;
        margin-left: 150px;
    }

    #mj {
        padding-top: 120px;
        color: #ffffff;
        margin-right: 200px;
    }

    #mj h1 {
        font-size: 50px;
        font-weight: 800;
    }

    #mj p {
        font-size: 20px;
    }

    /*ask*/
    #fre {
        background-color: black;
        height: 120vh;
        min-width: 110%;
        background-size: cover;
    }

    .div5 h1 {
        font-weight: 900;
        font-size: 50px;
        margin-left: 300px;
        color: #ffffff;
    }

    .div6 ul {
        list-style: none;
        margin-left: 100px;
        margin-top: 60px;
    }

    #btn {
        text-align: left;
        width: 900px;
        height: 70px;
        font-size: 23px;
        padding-top: 10px;
        background-color: gray;
        margin-left: 60px;
    }

    li:first-child {
        margin-top: 10px;
    }

    #btn #plus-icon {
        margin-left: 830px;
        margin-top: -37px;
    }

    #btn #x-icon {
        margin-left: 830px;
        margin-top: -37px;
        display: none;
    }

    .Boxr {
        display: none;
        border: 1px solid gray;
        width: 900px;
        height: auto;
        font-size: 20px;
        background-color: gray;
        padding-left: 120px;
        margin-top: -10px;

    }

    .red .ei {
        margin-left: 320px;
        margin-top: 35px;
        font-size: 22px;
        color: #ffffff;
    }

    .red #io {
        margin-left: 350px;
    }

    .red #opi {
        width: 400px;
        height: 45px;
        background-color: black;
        color: white;
    }

    #opi::placeholder {
        color: lightgrey;
    }

    #byi {
        margin-left: -130px;
        margin-top: -2px;
        background-color: rgba(255, 0, 0, 0.87);
    }

    #foot {
        background-color: black;
        height: 65vh;
        min-width: 110%;
        background-size: cover;
    }

    #foot .fr {
        margin-top: 50px;
        margin-left: 100px;
        color: gray;
        font-weight: 600;
        font-size: larger;
    }

    #foot a {
        text-decoration: underline;
        color: gray;
        font-weight: 600;
    }

    #foot #rem {
        margin-left: 87px;
        margin-top: -10px;
        margin-right: 300px;
    }

    #foot ul {
        list-style: none;
    }

    #foot li {
        margin-top: 10px;
    }

    #foot #lane {
        margin-left: 100px;
        margin-top: 35px;
    }

    #foot #lane select {
        width: 100px;
        height: 30px;
        text-align: center;
        background-color: black;
        color: white;
    }

    #foot #lane option {
        background-color: white;
        color: black;
    }

    #foot #rell {
        height: 30px;
        margin-top: 35px;
        margin-left: 100px;
        background-color: white;
    }

    #foot .ind {
        margin-left: 100px;
        margin-top: 10px;
        color: gray;
        font-weight: 600;
    }
}

@media (min-width: 835px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    #home {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://assets.nflxext.com/ffe/siteui/vlv3/21a8ba09-4a61-44f8-8e2e-70e949c00c6f/6678e2ea-85e8-4db2-b440-c36547313109/IN-en-20240722-POP_SIGNUP_TWO_WEEKS-perspective_WEB_3457a8b1-284d-4bb5-979e-2a2e9bb342b3_small.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        min-width: 100vw;
    }

    .div1 {
        display: grid;
    }

    #img {
        width: 190px;
        margin-top: 30px;
        margin-left: 50px;
    }

    #lane {
        margin-left: 270px;
        margin-top: 35px;
    }

    #lane select {
        width: 100px;
        height: 30px;
        text-align: center;
        background-color: black;
        color: white;
    }

    #lane option {
        background-color: white;
        color: black;
    }

    #sign-in {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        width: 100px;
        margin-top: 35px;
        margin-left: -90px;
        height: 28px;
        font-weight: bold;
        background-color: rgba(255, 0, 0, 0.87);
    }

    .div2 {
        color: #ffffff;
        text-align: center;
        margin-top: 200px;
    }

    .div2 h1 {
        font-weight: bolder;
        font-size: 50px;
    }

    .div3 {
        display: flex;
        justify-content: center;
        /* Center items horizontally */
        align-items: center;
        /* Center items vertically */
        margin-top: 20px;
    }

    #op {
        width: 600px;
        height: 45px;
        background-color: rgb(12, 9, 9, 0.9);
        color: white;
    }

    #op::placeholder {
        color: lightgrey;
    }

    .div2 p {
        font-size: 25px;
    }

    .div2 .ui {
        font-size: 25px;
    }

    #rell {
        height: 30px;
        margin-top: 35px;
        margin-left: 600px;
        background-color: white;
    }

    #by {
        background-color: rgba(255, 0, 0, 0.87);
    }

    /* TV */
    #TV {
        background-color: black;
        background-size: cover;
        min-width: 110%;
        height: 80vh;
    }

    #TV h1 {
        color: white;
        margin-top: 150px;
        margin-left: 130px;
        font-weight: 1000;
        font-size: 50px;
    }

    #TV p {
        color: #ffffff;
        margin-left: 130px;
        font-size: 23px;
    }

    .video-container {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .image-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: auto;
        z-index: 1;
        /* Ensure the image is behind the video */
        margin-top: -90px;
        margin-left: -70px;
    }

    #TV video {
        position: relative;
        z-index: 1;
        /* Ensure the video is in front of the image */
        width: 53%;
        height: auto;
        margin-top: -11px;
        margin-left: -18px;
    }

    /*down*/
    #down {
        background-color: black;
        min-width: 110%;
        height: 80vh;
    }

    .box {
        border: 4px solid grey;
        min-width: 110%;
    }

    #cv {
        width: 200px;
        margin-left: 140px;
        margin-top: 90px;
        display: block;
        z-index: -1;
    }

    .Box {
        border: 2px solid grey;
        width: 270px;
        margin-left: 390px;
        margin-top: -120px;
        height: 110px;
        border-radius: 10px;
        font-size: 1rem;
        box-shadow: 0 0 2em 0 rgb(0, 0, 0);
        z-index: 1;
        transform: translateX(-50%);
        background-color: black;
    }

    #go {
        width: 70px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .thing {
        margin-left: 80px;
        margin-top: -100px;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
        padding-top: 40px;
    }

    .do {
        font-size: 13px;
        font-weight: 400;
        color: #0071eb;
        margin-left: 80px;
    }

    #joy {
        margin-top: 160px;
        margin-right: 270px;
        margin-left: -60px;
    }

    #down h1 {
        color: #ffffff;
        font-weight: 800;
        font-size: 45px;
    }

    #down p {
        font-size: 25px;
        color: white;
    }

    #joy img {
        width: 45px;
        margin-left: -170px;
        margin-top: 10px;
    }

    .Box .gif-icon {
        width: 50px;
        margin: -63px 0 0 195px;
    }

    #watch {
        background-color: black;
        height: 80vh;
        min-width: 110%;
    }

    #vy {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 100px;

    }

    .lap {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        /* Make the image cover the full width */
        height: auto;
        /* Maintain aspect ratio */
        z-index: 2;
        margin-left: -200px;
        margin-top: -50px;
    }

    #watch video {
        position: relative;
        /* Change to absolute to align with the image */
        top: 0;
        left: 0;
        width: 58%;
        /* Ensure the video covers the same area as the image */
        height: auto;
        z-index: 1;
        /* Ensure the video is in front of the image */
        object-fit: contain;
        margin-top: -20px;
        margin-left: -130px;
    }

    #eve {
        color: white;
        margin-top: 150px;
        margin-left: 150px;
        margin-right: 250px;
    }

    #eve h1 {
        font-size: 50px;
        font-weight: 900;
    }

    #eve p {
        font-size: 25px;
    }

    #children {
        background-color: black;
        height: 80vh;
        min-width: 110%;
    }

    #children img {
        width: 500px;
        margin-top: 50px;
        margin-left: 150px;
    }

    #mj {
        padding-top: 120px;
        color: #ffffff;
        margin-right: 200px;
    }

    #mj h1 {
        font-size: 50px;
        font-weight: 800;
    }

    #mj p {
        font-size: 20px;
    }

    /*ask*/
    #fre {
        background-color: black;
        height: 120vh;
        min-width: 110%;
        background-size: cover;
    }

    .div5 h1 {
        font-weight: 900;
        font-size: 50px;
        margin-left: 300px;
        color: #ffffff;
    }

    .div6 ul {
        list-style: none;
        margin-left: 100px;
        margin-top: 60px;
    }

    #btn {
        text-align: left;
        width: 900px;
        height: 70px;
        font-size: 23px;
        padding-top: 10px;
        background-color: gray;
        margin-left: 60px;
    }

    li:first-child {
        margin-top: 10px;
    }

    #btn #plus-icon {
        margin-left: 830px;
        margin-top: -37px;
    }

    #btn #x-icon {
        margin-left: 830px;
        margin-top: -37px;
        display: none;
    }

    .Boxr {
        display: none;
        border: 1px solid gray;
        width: 900px;
        height: auto;
        font-size: 20px;
        background-color: gray;
        padding-left: 120px;
        margin-top: -10px;

    }

    .red .ei {
        margin-left: 320px;
        margin-top: 35px;
        font-size: 22px;
        color: #ffffff;
    }

    .red #io {
        margin-left: 350px;
    }

    .red #opi {
        width: 400px;
        height: 45px;
        background-color: black;
        color: white;
    }

    #opi::placeholder {
        color: lightgrey;
    }

    #byi {
        margin-left: -130px;
        margin-top: -2px;
        background-color: rgba(255, 0, 0, 0.87);
    }

    #foot {
        background-color: black;
        height: 65vh;
        min-width: 110%;
        background-size: cover;
    }

    #foot .fr {
        margin-top: 50px;
        margin-left: 100px;
        color: gray;
        font-weight: 600;
        font-size: larger;
    }

    #foot a {
        text-decoration: underline;
        color: gray;
        font-weight: 600;
    }

    #foot #rem {
        margin-left: 45px;
        margin-top: -10px;
        margin-right: 400px;
    }

    #foot ul {
        list-style: none;
    }

    #foot li {
        margin-top: 10px;
    }

    #foot #lane {
        margin-left: -1170px;
        margin-top: 35px;
    }

    #foot #lane select {
        width: 100px;
        height: 30px;
        text-align: center;
        background-color: black;
        color: white;
    }

    #foot #lane option {
        background-color: white;
        color: black;
    }

    #foot #rell {
        height: 30px;
        margin-top: 35px;
        margin-left: 100px;
        background-color: white;
    }

    #foot .ind {
        margin-left: 100px;
        margin-top: 10px;
        color: gray;
        font-weight: 600;
    }
}

@media (min-width: 481px) and (max-width: 834px) {
    body {
        overflow-x: hidden;
    }

    #home {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://assets.nflxext.com/ffe/siteui/vlv3/21a8ba09-4a61-44f8-8e2e-70e949c00c6f/6678e2ea-85e8-4db2-b440-c36547313109/IN-en-20240722-POP_SIGNUP_TWO_WEEKS-perspective_WEB_3457a8b1-284d-4bb5-979e-2a2e9bb342b3_small.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        min-width: 100vw;
    }

    .div1 {
        display: grid;
    }

    #img {
        width: 140px;
        margin-top: 30px;
        margin-left: 30px;
    }

    #lane {
        margin-left: 120px;
        margin-top: 35px;
    }

    #lane select {
        width: 80px;
        height: 30px;
        text-align: center;
        background-color: black;
        color: white;
    }

    #lane option {
        background-color: white;
        color: black;
    }

    #sign-in {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        width: 100px;
        margin-top: 35px;
        margin-left: -25px;
        height: 28px;
        font-weight: bold;
        background-color: rgba(255, 0, 0, 0.87);
    }

    .div2 {
        color: #ffffff;
        text-align: center;
        margin-top: 200px;
    }

    .div2 h1 {
        font-weight: bolder;
        font-size: 40px;
    }

    .div3 {
        display: flex;
        justify-content: center;
        /* Center items horizontally */
        align-items: center;
        /* Center items vertically */
        margin-top: 20px;
    }

    #op {
        width: 480px;
        height: 45px;
        background-color: rgb(12, 9, 9, 0.9);
        color: white;
    }

    #op::placeholder {
        color: lightgrey;
    }

    .div2 p {
        font-size: 17px;
    }

    .div2 .ui {
        font-size: 17px;
    }

    #rell {
        height: 30px;
        margin-top: 35px;
        margin-left: 60px;
        background-color: white;
    }

    #by {
        background-color: rgba(255, 0, 0, 0.87);
        margin-top: 10px;
        margin-left: 170px;
    }

    #TV {
        background-color: black;
        background-size: cover;
        min-width: 100%;
        height: 85vh;
    }

    #TV h1 {
        color: white;
        margin: 375px -250px 0 150px;
        font-weight: 1000;
        font-size: 40px;
    }

    #TV p {
        color: #fff;
        margin-left: 150px;
        margin-right: -200px;
        font-size: 17px;
    }

    .video-container {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .image-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 370px;
        height: auto;
        z-index: 2;
        margin: -90px 0 0 -190px;
    }

    #TV video {
        position: relative;
        z-index: 1;
        width: 120%;
        height: auto;
        margin: -30px 0 0 -154px;
    }

    #down {
        background-color: black;
        min-width: 100%;
        height: 90vh;
    }

    .box {
        border: 4px solid grey;
        width: 100%;
    }

    #cv {
        width: 90%;
        margin: 10px 0 0 40px;
        display: block;
        z-index: -1;
    }

    .Box {
        border: 2px solid grey;
        width: 230px;
        margin: -70px 0 0 255px;
        height: 80px;
        border-radius: 10px;
        font-size: 1rem;
        box-shadow: 0 0 2em 0 rgb(0, 0, 0);
        z-index: 1;
        transform: translateX(-50%);
        background-color: black;
    }

    #go {
        width: 50px;
        padding: 10px 0 0 10px;
    }

    .thing {
        margin: -90px 0 0 60px;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
        padding-top: 40px;
    }

    .do {
        font-size: 13px;
        font-weight: 400;
        color: #0071eb;
        margin-left: 60px;
    }

    #joy {
        margin: 20px 0 0 50px;
    }

    #down h1 {
        color: #fff;
        font-weight: 800;
        font-size: 30px;
    }

    #down p {
        font-size: 17px;
        color: white;
    }

    .Box .gif-icon {
        width: 40px;
        margin: -65px 0 0 175px;
    }

    #watch {
        background-color: black;
        height: 90vh;
        min-width: 100%;
    }

    #vy {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .lap {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: auto;
        z-index: 2;
        margin: 130px 0 0 -50px;
    }

    #watch video {
        position: relative;
        width: 60%;
        height: auto;
        z-index: 1;
        margin: 160px 0 0 15px;
    }

    #eve {
        color: white;
        margin: 50px -350px 0 40px;
    }

    #eve h1 {
        font-size: 40px;
        font-weight: 900;
    }

    #eve p {
        font-size: 18px;
    }

    #children {
        background-color: black;
        height: 90vh;
        width: 100%;
    }

    #children img {
        width: 100%;
        max-width: 500px;
        margin: 50px 0 0 50px;
    }

    #mj {
        margin-top: 390px;
        color: #ffff;
        margin-left: -390px;
        margin-right: 40px;
    }

    #mj h1 {
        font-size: 36px;
        font-weight: 800;
    }

    #mj p {
        font-size: 17px;
    }

    #fre {
        background-color: black;
        height: 110vh;
        min-width: 110%;
        background-size: cover;
    }

    .div5 h1 {
        font-weight: 900;
        font-size: 30px;
        margin-left: 10px;
        color: #ffffff;
    }

    .div6 ul {
        list-style: none;
        margin-left: -10px;
        margin-top: 60px;
    }

    #btn {
        text-align: left;
        width: 450px;
        height: 40px;
        font-size: 15px;
        padding-top: 10px;
        padding-left: 10px;
        background-color: gray;
        margin-left: 20px;
    }

    li:first-child {
        margin-top: 10px;
    }

    #btn #plus-icon {
        margin-left: 380px;
        margin-top: -37px;
    }

    #btn #x-icon {
        margin-left: 380px;
        margin-top: -37px;
        display: none;
    }

    .Boxr {
        display: none;
        border: 1px solid gray;
        width: 900px;
        height: auto;
        font-size: 17px;
        background-color: gray;
        padding-left: 120px;
        margin-top: -10px;

    }

    .red .ei {
        margin-left: 10px;
        margin-top: 35px;
        font-size: 15px;
        color: #ffffff;
    }

    .red #io {
        margin-left: 60px;
    }

    .red #opi {
        width: 350px;
        height: 45px;
        background-color: black;
        color: white;
    }

    #opi::placeholder {
        color: lightgrey;
    }

    #byi {
        margin-left: -275px;
        margin-top: 60px;
        background-color: rgba(255, 0, 0, 0.87);
    }

    #foot {
        background-color: black;
        height: 65vh;
        min-width: 110%;
        background-size: cover;
    }

    #foot .fr {
        margin-top: 0px;
        margin-left: 10px;
        color: gray;
        font-weight: 600;
        font-size: larger;
    }

    #foot a {
        text-decoration: underline;
        color: gray;
        font-weight: 600;
    }

    #foot #rem {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 40px;
    }

    #foot ul {
        list-style: none;
    }

    #foot li {
        margin-top: 10px;
    }

    #foot #lane {
        margin-left: 10px;
        margin-top: 33px;
    }

    #foot #lane select {
        width: 100px;
        height: 30px;
        text-align: center;
        background-color: black;
        color: white;
    }

    #foot #lane option {
        background-color: white;
        color: black;
    }

    #foot #rell {
        height: 27px;
        margin-top: 35px;
        margin-left: 10px;
        background-color: white;
    }

    #foot .ind {
        margin-left: 10px;
        margin-top: 6px;
        color: gray;
        font-weight: 600;
    }
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #home {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://assets.nflxext.com/ffe/siteui/vlv3/21a8ba09-4a61-44f8-8e2e-70e949c00c6f/6678e2ea-85e8-4db2-b440-c36547313109/IN-en-20240722-POP_SIGNUP_TWO_WEEKS-perspective_WEB_3457a8b1-284d-4bb5-979e-2a2e9bb342b3_small.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        max-width: 100%;
    }

    .div1 {
        display: grid;
    }

    #img {
        width: 100px;
        margin: 30px 0 0 20px;
    }

    #lane {
        margin-left: 120px;
        margin-top: 35px;
    }

    #lane select {
        width: 25px;
        height: 30px;
        text-align: center;
        background-color: black;
        color: white;
    }

    #lane option {
        background-color: white;
        color: black;
    }

    #ww {
        display: none;
    }

    #sign-in {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        width: 100px;
        margin-top: 35px;
        margin-left: 30px;
        height: 28px;
        font-weight: bold;
        background-color: rgba(255, 0, 0, 0.87);
        margin-left: 0px;
    }

    .div2 {
        color: #fff;
        text-align: center;
        margin-top: 100px;
    }

    .div2 h1 {
        font-weight: bolder;
        font-size: 40px;
    }

    .div3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    #op {
        width: 400px;
        height: 45px;
        background-color: rgba(12, 9, 9, 0.9);
        color: white;
    }

    #op::placeholder {
        color: lightgrey;
    }

    .div2 p,
    .div2 .ui {
        font-size: 15px;
    }

    #rell {
        height: 30px;
        margin-left: 80px;
        margin-top: 35px;
        background-color: white;
    }

    #by {
        background-color: rgba(255, 0, 0, 0.87);
        margin-top: 20px;
        margin-left: 125px;
    }

    #TV {
        background-color: black;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }

    #TV h1 {
        color: white;
        margin: 375px -250px 0 30px;
        font-weight: 1000;
        font-size: 40px;
    }

    #TV p {
        color: #fff;
        margin-left: 30px;
        margin-right: -200px;
        font-size: 17px;
    }

    .video-container {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .image-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 370px;
        height: auto;
        z-index: 2;
        margin: -90px 0 0 -190px;
    }

    #TV video {
        position: relative;
        z-index: 1;
        width: 145%;
        height: auto;
        margin: -30px 0 0 -154px;
    }

    #down {
        background-color: black;
        width: 100%;
        height: 100vh;
    }

    .box {
        border: 4px solid grey;
        width: 100%;
    }

    #cv {
        width: 90%;
        margin: 10px 0 0 40px;
        display: block;
        z-index: -1;
    }

    .Box {
        border: 2px solid grey;
        width: 190px;
        margin: -70px 0 0 220px;
        height: 80px;
        border-radius: 10px;
        font-size: 1rem;
        box-shadow: 0 0 2em 0 rgb(0, 0, 0);
        z-index: 1;
        transform: translateX(-50%);
        background-color: black;
    }

    #go {
        width: 50px;
        padding: 10px 0 0 10px;
    }

    .thing {
        margin: -90px 0 0 60px;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 11px;
        padding-top: 40px;
    }

    .do {
        font-size: 11px;
        font-weight: 400;
        color: #0071eb;
        margin-left: 60px;
    }

    #joy {
        margin: 20px 0 0 50px;
    }

    #down h1 {
        color: #fff;
        font-weight: 800;
        font-size: 30px;
    }

    #down p {
        font-size: 17px;
        color: white;
    }

    .Box .gif-icon {
        width: 30px;
        margin: -55px 0 0 145px;
    }

    #watch {
        background-color: black;
        height: 100vh;
        width: 100%;
    }

    #vy {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .lap {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: auto;
        z-index: 2;
        margin: 130px 0 0 -50px;
    }

    #watch video {
        position: relative;
        width: 70%;
        height: auto;
        z-index: 1;
        margin: 160px 0 0 15px;
    }

    #eve {
        color: white;
        margin: 50px -350px 0 40px;
    }

    #eve h1 {
        font-size: 35px;
        font-weight: 900;
    }

    #eve p {
        font-size: 16px;
    }

    #children {
        background-color: black;
        height: 100vh;
        width: 100%;
    }

    #children img {
        width: 100%;
        max-width: 500px;
        margin: 50px 0 0 50px;
    }

    #mj {
        margin-top: 350px;
        color: #ffff;
        margin-left: -330px;
        margin-right: 40px;
    }

    #mj h1 {
        font-size: 30px;
        font-weight: 800;
    }

    #mj p {
        font-size: 17px;
    }

    #fre {
        background-color: black;
        height: 110vh;
        min-width: 110%;
        background-size: cover;
    }

    .div5 h1 {
        font-weight: 900;
        font-size: 28px;
        margin-left: 10px;
        color: #ffffff;
    }

    .div6 ul {
        list-style: none;
        margin-left: -10px;
        margin-top: 60px;
    }

    #btn {
        text-align: left;
        width: 400px;
        height: 40px;
        font-size: 15px;
        padding-top: 10px;
        padding-left: 10px;
        background-color: gray;
        margin-left: 20px;
    }

    li:first-child {
        margin-top: 10px;
    }

    #btn #plus-icon {
        margin-left: 340px;
        margin-top: -38px;
    }

    #btn #x-icon {
        margin-left: 340px;
        margin-top: -38px;
        display: none;
    }

    .Boxr {
        display: none;
        border: 1px solid gray;
        width: 900px;
        height: auto;
        font-size: 17px;
        background-color: gray;
        padding-left: 120px;
        margin-top: -10px;

    }

    .red .ei {
        margin-left: 10px;
        margin-top: 35px;
        font-size: 15px;
        color: #ffffff;
    }

    .red #io {
        margin-left: 80px;
    }

    .red #opi {
        width: 250px;
        height: 45px;
        background-color: black;
        color: white;
    }

    #opi::placeholder {
        color: lightgrey;
    }

    #byi {
        margin-left: -230px;
        margin-top: 60px;
        background-color: rgba(255, 0, 0, 0.87);
    }

    #foot {
        background-color: black;
        height: 65vh;
        min-width: 110%;
        background-size: cover;
    }

    #foot .fr {
        margin-top: 0px;
        margin-left: 10px;
        color: gray;
        font-weight: 600;
        font-size: larger;
    }

    #foot a {
        text-decoration: underline;
        color: gray;
        font-weight: 600;
    }

    #foot #rem {
        margin-left: 1px;
        margin-top: 0px;
        margin-right: 20px;
    }

    #foot ul {
        list-style: none;
    }

    #foot li {
        margin-top: 10px;
    }

    #foot #lane {
        margin-left: 0px;
        margin-top: 30px;
    }

    #foot #lane select {
        width: 100px;
        height: 30px;
        text-align: center;
        background-color: black;
        color: white;
    }

    #foot #lane option {
        background-color: white;
        color: black;
    }

    #foot #rell {
        height: 27px;
        margin-top: 35px;
        margin-left: 10px;
        background-color: white;
    }

    #foot .ind {
        margin-left: 10px;
        margin-top: 0px;
        color: gray;
        font-weight: 600;
    }
}